$themes: (
  default: ("body-bg": #e5e5e5,
    "primary": #56C7FB,
    "secondary": #CCF3FD,
    "success": #79E7AB,
    "info": #580f9d,
    "warning": #FFD464,
    "danger": #FF5977,
    "light": #edf1f4,
    "dark": #2A2D3A,
    "grey": #cbcbcb,

  ),
  dark: ("body-bg": #2A2D3A,
    "primary": #56C7FB,
    "secondary": #CCF3FD,
    "success": #79E7AB,
    "info": #580f9d,
    "warning": #FFD464,
    "danger": #FF5977,
    "light": #ebeef1,
    "dark": #090f18,
    "grey": #cbcbcb,
  ),
);

$color-ranges: (
  0: 0,
  5: 5,
  10: 10,
  15: 15,
  20: 20,
  25: 25,
  30: 30,
  35: 35,
  40: 40,
);

$font-sans-serif: Open Sans;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));